<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>book review</title>
  </head>
  <body>
    <header>
      <a th:href="@{/showBookList}">書籍一覧</a>
      <a th:href="@{/toBookForm}">書籍を追加</a>
    </header>
    <h1>書籍詳細</h1>
    <div class="container">
      <div>タイトル：<span th:text="${book.title}">タイトル</span></div>
      <div>著者名：<span th:text="${book.author}">著者名</span></div>
      <hr />
      <div th:each="review : ${book.reviews}">
        <div th:text="${review.comment}">レビュー内容</div>
        <div th:text="${review.rate}">評価</div>
        <hr />
      </div>
      <form
        action="book_detail.html"
        th:action="@{/addReview}"
        method="post"
        th:object="${reviewForm}"
      >
        <input type="hidden" name="bookId" th:value="${bookId}" />
        <div>レビューを追加</div>
        <div>
          <label for="rate">評価：</label>
          <select name="rate" id="rate" th:field="*{rate}">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div>
          <label for="comment">レビュー内容：</label><br />
          <div class="error-message" th:errors="*{comment}">
            レビュー内容を入力してください
          </div>
          <textarea
            name="comment"
            id="comment"
            rows="6"
            cols="35"
            th:field="*{comment}"
          ></textarea>
        </div>
        <button>追加</button>
      </form>
    </div>
  </body>
</html>
